reachy-mini[mujoco]
fastapi
uvicorn
opencv-python
mediapipe
numpy
python-multipart
websockets
# Vision
fer
tensorflow
# AI / Brain (Optional, heavy)
transformers
torch
accelerate
scipy
# Audio
SpeechRecognition
gTTS
pyaudio
